/*Fonts*/
@font-face {
  font-family: 'Itachi';
  src: url(../fonts/Zenzai-Itachi.ttf);
}
@font-face {
  font-family: 'Kanji';
  src: url(../fonts/Shojumaru-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
/* General classes */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
a, h3, h4, h5, h6, p {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 13px;
}
p {
  margin: 1.5em 0;
  line-height: 35px;
  font-size: 13px;
}
body {
  background-image: url('../images/Background.png');
}
ul {
  list-style: none;
}
.clear {
  clear: both;
}
.mainPage {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.kanjiFont {
  font-family: 'Kanji';
}
/*Header*/
.mainHeader {
  width: 70%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.mainHeader h2 {
  font-size: 60px;
  font-family: 'Kanji';
  color: red;
}
/*DB Info*/
.information {
  width: 100%;
  text-align: center;
}
.informationBorder {
  background: url('../images/Box.png');
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
}
.informationBorder .absolute {
  padding: 3em;
}
.infoHeader {
  width: 100%;
  padding-top: 35px;
}
.infoHeader h4 {
  font-size: 13px;
  font-family: 'Kanji';
}
.infoText {
  width: 75%;
  padding-left: 8em;
}
.infoText ul li {
  margin: 1.9em 0;
}
.infoLabels {
  float: left;
  text-align: left;
  width: 48%;
}
.infoLabels h5 {
  font-family: 'Kanji';
}
.infoDetails {
  float: left;
  text-align: left;
  width: 48%;
}
.infoDetails h5 {
  font-family: 'Roboto';
}
.personalPic {
  text-align: left;
  padding-top: 2em;
}
.personalPic img {
  width: 52%;
  height: 96%;
}
/*Skills Box*/
.skillsBox {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 1em 0;
  height: 100px;
  text-align: center;
}
.skillsBox .row .col a:hover h4 {
  color: red;
}
.skillsBox .row .col a:hover .ninja {
  background: url('../images/red_ninja_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.skillsBox .row .col a:hover .skills {
  background: url('../images/red_skills_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.skillsBox .row .col a:hover .hobbies {
  background: url('../images/red_joypad_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.skillsBox .row .col a:hover .projects {
  background: url('../images/red_file_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.activeSkill h4 {
  color: red;
}
.activeSkill .ninja {
  background: url('../images/red_ninja_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.activeSkill .skills {
  background: url('../images/red_skills_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.activeSkill .hobbies {
  background: url('../images/red_joypad_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.activeSkill .projects {
  background: url('../images/red_file_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.skillsIcon {
    text-align: center;
}
.ninja {
  margin: 0 auto;
  background: url('../images/ninja_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.skills {
  margin: 0 auto;
  background: url('../images/skills_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.hobbies {
  margin: 0 auto;
  background: url('../images/joypad_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
.projects {
  margin: 0 auto;
  background: url('../images/file_circle.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  width: 40%;
  height: 100px;
}
/*Display text box*/
.textDisplay {
  margin-top: 1.5em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.textTab {
  display: none;
}
.textTab.active {
  display: block;
}
/*Text Display*/
.boxWrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.mainTabs {
  display: inline-block;
}
.mainTabs ul {
  margin-top: 1.5em;
}
.mainTabs ul:after {
  list-style: none;
  display: block;
  clear: both;
  content: "";
}
.mainTabs ul li {
  list-style: none;
  display: inline-block;
}
#secondTab {
  margin-left: 2em;
}
.mainTabs ul li a {
  display: block;
  padding: 0.7em 0;
  text-decoration: none;
  color: #666;
  font-family: 'Kanji';
  font-size: 20px;
}
.mainTabs ul li a:hover {
  color: red;
}
.mainTabs ul .activeTab a {
  color: red;
}
.tabsContent {
  padding: 0 0.6em;
  border-radius: 3px;
  text-align: left;
}
.tabsContent ul li {
  width: 100%;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
hr {
}
#lasthr {
  display: none;
}
/*Introduction*/
.introduction {
  width: 100%;
  margin: 1em 0;
}
.introduction h1, h3 {
  font-family: 'Kanji';
}
.upperLayer h1 {
  font-size: 100px;
}
.upperLayer img {
  width: 20%;
  vertical-align: middle;
}
.red {
  color: red;
}
.lowerLayer {
  margin-top: 2em;
}
.lowerLayer .col {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.lowerLayer img {
  width: 20%;
  vertical-align: middle;
  float: left;
}
.lowerLayer .txt {
  float: left;
  margin-top: 1.4em;
  font-size: 30px;
  margin-left: 0.5em;
}
/*Professional.html formatting*/
.professionalPage {
  margin-top: 3em;
}
.professionalPage h2 {
  text-align: left;
  margin: 1.5em 0.5em;
}
.professionalPage ul {
  list-style: none;
}
.professionalPage ul li {
  text-align: left;
}
.jobHeader {
  width: 100%;
  text-align: left;
}
.professionalPage h4 {
  font-family: 'Kanji';
}
.jobHeader div {
  display: inline-block;
  margin-left: 1em;
}
.jobDetails {
  width: 95%;
}
.separator {
  margin: 1em 0;
  background: url('../images/separator.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 15px;
}
/**My Skills**/
.skillsWrapper {
  width: 100%;
  display: inline-block;
}
.skillsWrapper .skillTitle {
  font-family: 'Kanji';
}
.skillsText {
  width: 88%;
  float: right;
  text-align: left;
}
.skillsText h5 {
  margin-top: 0.5em;
}
.skillsText p {
  margin: 0;
  margin-top: 1.5em;
}
.icon {
  background-image: url("../images/skills.png");
  background-repeat: no-repeat;
  background-size: 85% auto;
  float: left;
}
.aws {
  background-position: 0 20px;
  height: 100px;
  width: 100px;
}
.cisco {
  background-position: 0 -270px;
  height: 100px;
  width: 100px;
}
.googlebb {
  background-position: 0 -355px;
  height: 100px;
  width: 100px;
}
.html {
  background-position: 0 -452px;
  height: 100px;
  width: 100px;
}
.javascript {
  background-position: 0 -85px;
  height: 100px;
  width: 100px;
}
.jquery {
  background-position: 0 -550px;
  height: 100px;
  width: 100px;
}
.linux {
  background-position: 0 -180px;
  height: 100px;
  width: 100px;
}
.php {
  background-position: 0 -640px;
  height: 100px;
  width: 100px;
}
.python {
  background-position: 0 -730px;
  height: 100px;
  width: 100px;
}
.windows {
  background-position: 0 -820px;
  height: 100px;
  width: 100px;
}
.certPassed {
  color: #66ff66;
}
.grayedOut {
  opacity: 0.6; /* Real browsers */
  filter: alpha(opacity = 60);
}
/* Hobbies */
.hobbiesIcon {
  background-image: url("../images/hobbies.png");
  background-repeat: no-repeat;
  background-size: 85% auto;
  float: left;
}
.achText {
  width: 100%;
}
.karate {
  background-position: 0 -360px;
  height: 100px;
  width: 100px;
}
.japan {
  background-position: 0 20px;
  height: 100px;
  width: 100px;
}
.cloud {
  background-position: 0 -180px;
  height: 100px;
  width: 100px;
}
.basketball {
  background-position: 0 -85px;
  height: 100px;
  width: 100px;
}
.games {
  background-position: 0 -265px;
  height: 100px;
  width: 100px;
}
.music {
  background-position: 0 -455px;
  height: 100px;
  width: 100px;
}
/*Footer*/
.footer {
  width: 100%;
  text-align: center;
  background: black;
  margin-top: 3em;
}
.byDavid h5 {
  padding: 1em 0;
  color: white;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .mainPage {
      width: 100%;
    }
    .informationBorder {
      background-size: 85% auto;
    }
    .infoText {
      width: 90%;
      padding: 0 3.5em;
    }
    .mainTabs ul {
      margin-left: 1em;
    }
    .infoHeader {
      width: 95%;
      margin-top: 2.5em;
      padding: 0;
    }
    .personalPic img {
      width: 75%;
      height: 100%;
    }
    p {
      font-size: 13px;
    }
    .boxWrapper {
      width: 100%;
    }
    .tabsContent {
      padding: 1em 0;
      margin: 0.5em 1em;
    }
    .skillsText {
      width: 78%;
      padding-right: 3em;
    }
    .separator {
      margin: 1em 0;
    }
    .icon {
      margin-top: 1em;
    }
  }
  @media only screen and (min-device-width: 1050px) and (max-device-width: 1750px) {
    .mainPage {
      width: 80%;
    }
    .informationBorder {
      background-size: 75% auto;
    }
    .infoText {
      padding-left: 6em;
    }
    .personalPic img {
      width: 55%;
      height: 90%;
    }
  }
