/*Fonts*/
@font-face {
  font-family: 'Itachi';
  src: url(../fonts/Zenzai-Itachi.ttf);
}
@font-face {
  font-family: 'Kanji';
  src: url(../fonts/HanZi.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
/* General classes */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
a, h1, h2, h3, h4, h5, h6, p {
  color: black;
  text-decoration: none;
  display: block;
}
p {
  margin: 1.5em 0;
  line-height: 35px;
  font-size: 15px;
}
body {
  background-image: url('../images/Background.png');
}
ul {
  list-style: none;
}
.clear {
  clear: both;
}
.mainPage {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.kanjiFont {
  font-family: 'Kanji';
}
/*Header*/
.mainHeader {
  width: 70%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.mainHeader h2 {
  font-size: 60px;
  font-family: 'Kanji';
  color: red;
}
/*DB Info*/
.information {
  width: 100%;
  margin: 2em 0;
  text-align: center;
}
.informationBorder {
  background: url('../images/Box.png');
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
}
.informationBorder .absolute {
  padding: 3em;
}
.infoHeader {
  width: 100%;
  padding: 15px 0;
}
.infoHeader h4 {
  font-family: 'Kanji';
}
.infoText {
  width: 100%;
  padding: 0 4.5em;
}
.infoText ul li {
  margin: 1.9em 0;
}
.infoLabels {
  float: left;
  text-align: left;
  width: 48%;
}
.infoLabels h5 {
  font-family: 'Kanji';
}
.infoDetails {
  float: left;
  text-align: left;
  width: 48%;
}
.infoDetails h5 {
  font-family: 'Roboto';
}
.personalPic img {
  width: 65%;
  height: 95%;
}
/*Skills Box*/
.skillsBox {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 3em 0;
  height: 100px;
  text-align: center;
}
.skillsBox .row .col a:hover h4 {
  color: red;
}
.skillsBox .row .col a:hover .ninja {
  background: url('../images/red_ninja_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.skillsBox .row .col a:hover .skills {
  background: url('../images/red_skills_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.skillsBox .row .col a:hover .hobbies {
  background: url('../images/red_joypad_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.skillsBox .row .col a:hover .projects {
  background: url('../images/red_file_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.activeSkill h4 {
  color: red;
}
.activeSkill .ninja {
  background: url('../images/red_ninja_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.activeSkill .skills {
  background: url('../images/red_skills_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.activeSkill .hobbies {
  background: url('../images/red_joypad_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.activeSkill .projects {
  background: url('../images/red_file_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.skillsIcon {
    text-align: center;
}
.ninja {
  margin: 0 auto;
  background: url('../images/ninja_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.skills {
  margin: 0 auto;
  background: url('../images/skills_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.hobbies {
  margin: 0 auto;
  background: url('../images/joypad_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
.projects {
  margin: 0 auto;
  background: url('../images/file_circle.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 40%;
  height: 110px;
}
/*Display text box*/
.textDisplay {
  margin-top: 1.5em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*Text Display*/
.boxWrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.mainTabs {
  display: inline-block;
}
.mainTabs ul {
  margin: 1.5em 0;
}
.mainTabs ul:after {
  list-style: none;
  display: block;
  clear: both;
  content: "";
}
.mainTabs ul li {
  list-style: none;
  display: inline-block;
  margin-left: 2em;
}
.mainTabs ul li a {
  display: block;
  padding: 0.7em 0;
  text-decoration: none;
  color: #666;
  font-family: 'Kanji';
}
.mainTabs ul li a:hover {
  color: red;
}
.mainTabs ul .activeTab a {
  color: red;
}
.tabsContent {
  padding: 1em 0.6em;
  border-radius: 3px;
  text-align: left;
}
.tabsContent ul li {
  width: 100%;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
hr {
}
#lasthr {
  display: none;
}
/*Introduction*/
.introduction {
  width: 100%;
  margin: 1em 0;
}
.introduction h1, h3 {
  font-family: 'Kanji';
}
.upperLayer h1 {
  font-size: 100px;
}
.upperLayer img {
  width: 20%;
  vertical-align: middle;
}
.red {
  color: red;
}
.lowerLayer {
  margin-top: 2em;
}
.lowerLayer .col {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.lowerLayer img {
  width: 20%;
  vertical-align: middle;
  float: left;
}
.lowerLayer .txt {
  float: left;
  margin-top: 1.4em;
  margin-left: 0.5em;
}
/*Professional.html formatting*/
.professionalPage h2 {
  text-align: left;
}
.professionalPage ul {
  list-style: none;
}
.professionalPage ul li {
  text-align: left;
}
.jobHeader {
  width: 100%;
  text-align: left;
}
.professionalPage h4 {
  font-family: 'Kanji';
}
.jobHeader div {
  display: inline-block;
  margin-left: 1em;
}
.jobDetails {
  width: 95%;
}
.separator {
  margin: 3em 0;
  background: url('../images/separator.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 15px;
}
/**My Skills**/
.skillsWrapper {
  width: 100%;
  display: inline-block;
}
.skillsText {
  width: 85%;
  float: right;
  text-align: left;
}
.skillsText h5 {
  margin-top: 0.5em;
}
.icon {
  background-image: url("../images/skills.png");
  background-repeat: no-repeat;
  background-size: 85% auto;
  float: left;
}
.aws {
  background-position: 0 20px;
  height: 150px;
  width: 150px;
}
.cisco {
  background-position: 0 -405px;
  height: 150px;
  width: 150px;
}
.googlebb {
  background-position: 0 -530px;
  height: 150px;
  width: 150px;
}
.html {
  background-position: 0 -680px;
  height: 150px;
  width: 150px;
}
.javascript {
  background-position: 0 -125px;
  height: 150px;
  width: 150px;
}
.jquery {
  background-position: 0 -825px;
  height: 150px;
  width: 150px;
}
.linux {
  background-position: 0 -270px;
  height: 150px;
  width: 150px;
}
.php {
  background-position: 0 -960px;
  height: 150px;
  width: 150px;
}
.python {
  background-position: 0 -1070px;
  height: 150px;
  width: 150px;
}
.windows {
  background-position: 0 -1225px;
  height: 150px;
  width: 150px;
}
.certPassed {
  color: #66ff66;
}
.grayedOut {
  opacity: 0.6; /* Real browsers */
  filter: alpha(opacity = 60);
}
/* Hobbies */
.hobbiesIcon {
  background-image: url("../images/hobbies.png");
  background-repeat: no-repeat;
  background-size: 85% auto;
  float: left;
}
.karate {
  background-position: 0 -540px;
  height: 150px;
  width: 150px;
}
.japan {
  background-position: 0 20px;
  height: 150px;
  width: 150px;
}
.cloud {
  background-position: 0 -280px;
  height: 150px;
  width: 150px;
}
.basketball {
  background-position: 0 -120px;
  height: 150px;
  width: 150px;
}
.games {
  background-position: 0 -400px;
  height: 150px;
  width: 150px;
}
.music {
  background-position: 0 -680px;
  height: 150px;
  width: 150px;
}
/*Footer*/
.footer {
  width: 100%;
  text-align: center;
  background: black;
  margin-top: 3em;
}
.byDavid h5 {
  padding: 1em 0;
  color: white;
}
