<ul>
  <!-- Language -->
  <li class="skillsWrapper">
    <div class="achText">
      <h4 id="skillTitle">Japanese Language</h4>
      <h5>
        <p>I self-taught myself Japanese to fluency. I started learning Japanese
          in 2007. I'd been interested in Japan for a long before that but in 2007
          I set my new year's resolution to study the language. I challenged myself
          first by studying the basics online and then getting grammar books from Japan
          (in Japanese), which increased my understanding of the language structure and
          vocabulary. I later started playing video games in Japanese and watching
          tv shows with subtitles in Japanese. I consider myself to be fluent and even
          when I don't know a word I can express myself using other words.
          I love 漢字!.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- JLPT N2 -->
  <li class="skillsWrapper">
    <div class="achText">
      <h4 id="skillTitle">JLPT N2</h4>
      <h5>
        <p>I earned JLPT N2 back in 2011. JLPT stands for Japanese Language Proficiency
        Test and N2 is the second most difficult(N1 being the highest level).
        I plan on sitting N1 one day just to test myself.
        I consider this my personal achievement as I never had a teacher to teach me
        this.
       </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Scholarship -->
  <li class="skillsWrapper">
    <div class="achText">
      <h4 id="skillTitle">Scholarship</h4>
      <h5>
        <p>In 2011 I went to Japan for 2 weeks on a scholarship for outstanding
          students of Japanese. I was the representative of Poland and met people
          from other 63 countries who also, just as me, were studying Japanese.
          We travelled around Japan learning the language, customs and history.
          I made loads of friends and I still keep in touch with them.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Karate regional -->
  <li class="skillsWrapper">
    <div class="achText">
      <h4 id="skillTitle">Participated in Karate tournaments</h4>
      <h5>
        <p>Although I never really made it too far I consider taking part in
          various karate tournaments an achievement. Just preparing for those is
          challenging enough. I once got a 3rd place in a national 'Challenger' tournament
          taking place in my hometown - Opole.
          I also tried internationally twice - but with no results.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- PCs -->
  <li class="skillsWrapper">
    <div class="achText">
      <h4 id="skillTitle">PCs</h4>
      <h5>
        <p>I consider being able to work with computers to be my personal achievement
          as I have no difficulty understanding them and feel comfortable with them.
          I spend most of my days in front of PCs and being able to earn money by
          doing so is filling me with joy.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
</ul>
