<ul>
  <li class="skillsWrapper">
    <div class="icon aws"></div>
    <div class="skillsText">
      <h4 id="skillTitle">AWS Certified Solutions Architect/Developer</h4>
      <h5>
        <p>I earned both Solutions Architect and Ceritifed Developer certs from AWS.
          I am a huge fan of AWS and cloud in general. Those are my first steps in AWS
          and I hope I will be able to use these skills profesionally too.
          I also want to get the Devops cert at a later time.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <li class="skillsWrapper">
    <div class="icon cisco"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Cisco Certified Network Associate(CCNA)</h4>
      <h5>
        <p>I passed CCNA cert as I often work with various networking devices.
          The work can involve troubleshooting, configuring and managing such network
          devices as firewalls, switches, routers, proxy servers, network printers etc.
          I have experience with devices from various vendors such as Bluecoat, Juniper,
          Cisco and others.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <li class="skillsWrapper">
    <div class="icon windows"></div>
    <div class="skillsText">
      <h4 id="skillTitle">
        Windows Server 2012 <h5>(<span class="certPassed">70-410</span> |<span class="grayedOut">70-411</span>  |
          <span class="grayedOut">70-412</span>)</h5>
      </h4>
        <h5>
          <p>I passed one exam out of three to get MCSA title from Microsoft.
            I use servers and Microsoft systems extensively and I feel ready to pass
            the remaining exams but need some more time. Will update this as I pass
            the rest.
          </p>
        </h5>
      </h>
    </div>
    <div class="clear"></div>
  </li>
</ul>
