<ul>
  <!-- Karate -->
  <li class="skillsWrapper">
    <div class="hobbiesIcon karate"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Kyokushin Karate</h4>
      <h5>
        <p>I currently hold 3rd kyu in Karate Kyokushin. I haven't done much karate
          since I moved to London but I hope to return and earn my black belt(will match
          nicely the Google black belt!). I trained for about 7 years before I moved
          to London. Trainings are extremely fun and I enjoy evey bit of them(even the pain).
          Osu!
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Japan -->
  <li class="skillsWrapper">
    <div class="hobbiesIcon japan"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Japan</h4>
      <h5>
        <p>Japan - I don't even know where to start. I love the country, food, culture,
        history, martial arts, anime, manga and japanese music. I have been there
        4 times already and want to visit more. Since my wife is Japanese I have
        an excellent excuse to visit Japan at least once a year.
        Seriously, I could keep writing and writing and that would not show all I
        love and know about Japan. If you ask me about the country please prepare a
        whiteboard and be ready for a lecture.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Basketball -->
  <li class="skillsWrapper">
    <div class="hobbiesIcon basketball"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Basket</h4>
      <h5>
        <p>I used to play basketball for about 8 years. I quit after an ankle injury.
          This was my first serious sport and I even managed to be a team captain
          in high school.
          I usually played "streetball" with my friends. Myself and my friends are all
          tall so almost everyone I know can play.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Video Games -->
  <li class="skillsWrapper">
    <div class="hobbiesIcon games"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Video Games</h4>
      <h5>
        <p>I have been playing video games ever since I was 5 or so. At first it was
          at my friends' houses and later at my own(still with friends, though).
          That's how I mastered English and Japanese actually. My favourite genres are RPG's and I enjoy
          games with good and engorssing stories(and reams of text!). My favourite series is Final Fantasy
          and favourite console is PSX. I don't play as often now as I would like to
          but whenever I'm bored I will take out my phone and play on an PSX emulator.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Music -->
  <li class="skillsWrapper">
    <div class="hobbiesIcon music"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Music</h4>
      <h5>
        <p>I think everyone likes music. I don't like it when there's no sound
          in a room/place I'm in. I always have some music on(except work) and it
          helps me focus on what I'm doing(especially studying/coding).
          I don't have a favourite genre - I listen to anything that catches my ear.
          I must give some more credit to video games soundtracks as I enjoy them the most.
          My favourite artists/composers are Nobuo Uematsu and Hisaishi Joe.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Cloud -->
  <li class="skillsWrapper">
    <div class="hobbiesIcon cloud"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Cloud</h4>
      <h5>
        <p>I am a huge fan of cloud technology. I started learning about it more
          after my encounter with AWS. I do some small projects at home and hope
          to do some more at work too. Fun stuff.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
</ul>
