{% load staticfiles %}
<div class="boxWrapper">
  <div class="mainTabs">
    <ul>
      <li class="activeTab"><a href="#skills">Skills</a></li>
      <li id="secondTab"><a href="#certificates">Certificates</a></li>
    </ul>
    <div class="tabsContent">
      <div id="skills" class="tab active" style="display: block;">
        {% include "./_skills.html" %}
      </div>
      <div class="tab" id="certificates">
        {% include "./_certsList.html" %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('.mainTabs ul li a').on('click', function(e){
      var currentAttrValue = $(this).attr('href');
      $(this).parent('li').addClass('activeTab').siblings().removeClass('activeTab');
      $('.tabsContent ' + currentAttrValue).show().siblings().hide();
      e.preventDefault();
    });
</script>
