<h4>
  <p>My name is David. I'm a Pole living in London, UK. I have been living here since summer 2013
    and absolutely love this city.
    I am a young(still!) and energetic bloke with many interests and a knack for languages and IT.
    I am currently working as a systems/network engineer at IIJ Europe in London.
    I am also strongly interested in programming and I am absolutely infatuated with Cloud technology(especially AWS).
    That's what I have been doing/studying in my spare time lately and I hope I will be able to implement
    those skills at work soon too!. At work I usually deal with various
    systems(figures!) and networks(doh!). Please see my skills page for more details.</p>
 <p>I am also fluent is 3 languages, including my mother tongue - Polish.
    I have been using English ever since I was about 5 years old and I self-taught
    myself Japanese to fluency in both speech and writing.
    I think that the best way to learn is to have fun and enjoy the actual
    learning process - that's why I am good at languages and IT. I enjoy doing
    both!
    I am also a sportsman and enjoy good exercise that leaves me huffing and puffing afterwards.
    Currently I am not doing much sports as I am extremely busy with work and study.
    I used to play basketball for around 8 years and I was a basketball team captain in high school.
    I also did karate kyokushin for almost 7 years and plan to returning to trainings soon.
    You can read more about my hobbies in my hobbies page.
  </p>
</h4>
