<div class="professionalPage">
  <h2>This will look a bit like a CV but here's where I have worked so far</h2>
  <ul>
    <!-- Stellarise -->
    <li class="container">
        <div class="row">
          <div class="col">
            <h4>When</h4>
            <p><h5>October 2017 - Present</h5></p>
          </div>
          <div class="col">
            <h4>Company</h4>
            <p><h5>Stellarise</h5></p>
          </div>
          <div class="col">
            <h4>Position</h4>
            <p><h5>Systems/Network Engineer</h5></p>
          </div>
        </div>
        <div class="jobDetails">
          <h4>Tasks</h4>
          <h5>
            <p>I provide support to clients and for internal purposes. Clients are supported either remotely or
              onsite. I am also using a ticketing software to keep record of all inquiries, support requests from
              clients.
              </p>
              <p>Support involves various tasks including troubleshooting issues, creating webservers, physical
                mounting of equipment to racks, establishing VPN connections, configuring firewalls and many more.
              </p>
              <p>Major part of this job is monitoring. The systems we use allow us to notice
                an issue as soon as it occurs and fix it before a user realises something was wrong(not always though).
              </p>
          </h5>
        </div>
    </li>
    <div class="separator"></div>
    <!-- IIJ Europe -->
    <li class="container">
        <div class="row">
          <div class="col">
            <h4>When</h4>
            <p><h5>December 2015 - October 2017</h5></p>
          </div>
          <div class="col">
            <h4>Company</h4>
            <p><h5>IIJ Europe</h5></p>
          </div>
          <div class="col">
            <h4>Position</h4>
            <p><h5>Systems/Network Engineer</h5></p>
          </div>
        </div>
        <div class="jobDetails">
          <h4>Tasks</h4>
          <h5>
            <p>I was responsible for internal and clients' IT systems and networks.
                 I provided support for various multinational organisations in their day-to-day
                 operations and monitored their systems to make sure their business ran smoothly.
              </p>
              <p>I managed and maintained servers and networks for clients and internal purposes.
                This encompassed devices such as firewalls, switches, routers, desktops, laptops, telephony
                as well as many technologies such as VMware, Office 365, Widows Servers, Linux, Webservers and many more.
              </p>
              <p>This ocassionaly entailed onsite visits and live troubleshooting over remote sessions with customers.</p>
              <p>I was also taking part in various projects including service implementations, creating documentation and solution design
                for SMBs.
              </p>
          </h5>
        </div>
    </li>
    <div class="separator"></div>
    <!-- Testronic Labs -->
    <li class="container">
        <div class="row">
          <div class="col">
            <h4>When</h4>
            <p><h5>August 2013 - August 2015</h5></p>
          </div>
          <div class="col">
            <h4>Company</h4>
            <p><h5>Testronic Laboratories</h5></p>
          </div>
          <div class="col">
            <h4>Position</h4>
            <p><h5>Quality Assurance Technician</h5></p>
          </div>
        </div>
        <div class="jobDetails">
          <h4>Tasks</h4>
          <h5>
            <p>Tested software for issues, reported them to the manager and development team
              and found solutions to correct them.</p>
            <p>Took part in large scale testing projects for multinational gaming clients,
              with the addition of occasional meeting with development team for solution findings.</p>
            <p>Focused on effective communication in order to interact effectively with the testing
              and development team.</p>
            <p>Proactively assisted the development of multiple video games</p>
          </h5>
        </div>
    </li>
    <div class="separator"></div>
    <!-- Rayout -->
    <li class="container">
        <div class="row">
          <div class="col">
            <h4>When</h4>
            <p><h5>May 2014 - February 2015</h5></p>
          </div>
          <div class="col">
            <h4>Company</h4>
            <p><h5>Ray-Out</h5></p>
          </div>
          <div class="col">
            <h4>Position</h4>
            <p><h5>Japanese to English Translator(Online project)</h5></p>
          </div>
        </div>
        <div class="jobDetails">
          <h4>Tasks</h4>
          <h5>
            <p>Provided Japanese to English translation services for an online
              comic translation project.Focused on retaining the original meaning
              while providing a natural sounding translation in written communication.
            </p>
          </h5>
        </div>
    </li>
  </ul>
</div>
