<ul>
  <!-- AWS !-->
  <li class="skillsWrapper">
    <div class="icon aws"></div>
    <div class="skillsText">
      <h4 id="skillTitle">AWS</h4>
      <h5>
        <p>I love AWS. It's huge and the amount of services they have is amazing.
           I doubt anyone can be knowledgeable on all of the services, especially with
           pace at which AWS is growing.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr>
  <!-- HTML !-->
  <li class="skillsWrapper">
    <div class="icon html"></div>
    <div class="skillsText">
      <h4 id="skillTitle">HTML/CSS</h4>
      <h5>
        <p>I can write pages in HTML and CSS. These are quite easy but require
          some imagination to turn bare text into great web pages. I can also do
          some animations. Currently I'm trying to make my webpages look nice.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr>
  <!-- Jquery !-->
  <li class="skillsWrapper">
    <div class="icon jquery"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Jquery</h4>
      <h5>
        <p>Jquery is ma boi for all interactive stuff on website. I really like it
          and it's my preferred tool for making things move on pages.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr>
  <!-- JavaScript !-->
  <li class="skillsWrapper">
    <div class="icon javascript"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Javascript</h4>
      <h5>
        <p>I have a decent knowledge of JavaScript. I tend to use Jquery for front end stuff
          and the only time I use JS that I can think of is when using Ajax for asynchronous

        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr>
  <!-- PHP !-->
  <li class="skillsWrapper">
    <div class="icon php"></div>
    <div class="skillsText">
      <h4 id="skillTitle">PHP/MySQL</h4>
      <h5>
        <p>PHP/MySQL were my first contact with backend/databases. I am still very
          fond of PHP although it's been phased out by Python. I still do use MySql
          when interacting with databases and is my preferred relational database type.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr>
  <!-- Python !-->
  <li class="skillsWrapper">
    <div class="icon python"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Python</h4>
      <h5>
        <p>Currently my favourite boi. I love it, it's got so many uses and
          is so easy/intuitive to write code in that it's become my favourite
          programming language. I have a few small, personal project on my mind
          that will be written in Python. Good stuff.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr>
  <!-- Windows !-->
  <li class="skillsWrapper">
    <div class="icon windows"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Windows</h4>
      <h5>
        <p>Well, Windows is the system I am most familiar with and I use it extensively
          both at home and work. Professionally I am exposed to servers/mysql servers and
          desktops often. I can do quite a lot and still plan on improving my skills.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr>
  <!-- Linux !-->
  <li class="skillsWrapper">
    <div class="icon linux"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Linux</h4>
      <h5>
        <p>I have still little experience with Linux, however I like it a lot.
          I like the cli and enjoy typing and automating stuff. I wish to gain more
          experience with this system.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr>
  <!-- Google BB! !-->
  <li class="skillsWrapper">
    <div class="icon googlebb"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Google Black Belt</h4>
      <h5>
        <p>Now, this is most likely the most important skill any person can have,
          regardless of their profession/industry.
          Google is powerful and helps searching for the right information from
          thousand hundreds websites on the internet. This skill is extremely important
          in IT as when you're stuck you're almost never the first one and a bit
          of research can help solve most problems. In case you're the first one
          numerous forums are full of people willing to help you out or share their
          experience with you.
          The best stuff there is, this one.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <hr id="lasthr">
</ul>
