<ul>
  <!-- AWS !-->
  <li class="skillsWrapper">
    <div class="icon aws"></div>
    <div class="skillsText">
      <h4 id="skillTitle">AWS</h4>
      <h5>
        <p>I love AWS. It's huge and the amount of services they provide is amazing.
           I doubt anyone is knowledgeable on all of the services, especially with the
           pace at which AWS is growing. This website as well as my projects are all
           hosted on/using AWS.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- HTML !-->
  <li class="skillsWrapper">
    <div class="icon html"></div>
    <div class="skillsText">
      <h4 id="skillTitle">HTML/CSS</h4>
      <h5>
        <p>I can write pages in HTML and CSS. These require some imagination to
          turn bare text into great web pages. I also have some experience creating
          animations using css although I wouldn't call my self proficient.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Jquery !-->
  <li class="skillsWrapper">
    <div class="icon jquery"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Jquery</h4>
      <h5>
        <p>Jquery is my boy for all interactive stuff on websites. I really like it
          and it's my preferred tool for making things move or interact on pages.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- JavaScript !-->
  <li class="skillsWrapper">
    <div class="icon javascript"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Javascript</h4>
      <h5>
        <p>I have a decent knowledge of JavaScript. I tend to use Jquery for front end stuff
          and the only time I use JS that I can think of is when using Ajax for asynchronous tasks.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- PHP !-->
  <li class="skillsWrapper">
    <div class="icon php"></div>
    <div class="skillsText">
      <h4 id="skillTitle">PHP/MySQL</h4>
      <h5>
        <p>PHP/MySQL were my first contact with backend/databases. I am still very
          fond of PHP although I've been using python/django more for that. I still do use MySql
          when interacting with databases and it's my preferred relational database type.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Python !-->
  <li class="skillsWrapper">
    <div class="icon python"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Python</h4>
      <h5>
        <p>Currently my favourite programming language. I love it, it's got so many uses and
          is so intuitive to write code in that it's become my favourite.
          This website, as well as my projects are all written in Python/Django. Good stuff.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Windows !-->
  <li class="skillsWrapper">
    <div class="icon windows"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Windows</h4>
      <h5>
        <p>Well, Windows is the system I am most familiar with and I use it extensively
          both at home and work. Professionally I am exposed to servers/mysql servers and
          desktops often. I can do quite a lot and still plan on improving my skills.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Linux !-->
  <li class="skillsWrapper">
    <div class="icon linux"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Linux</h4>
      <h5>
        <p>I don't have as much experience with Linux as Windows, however I use it quite often at work.
          I like the cli and enjoy typing and automating stuff. AWS's command line is also based off Unix
          so I would say I can do intermediate stuff with it.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
  <div class="separator"></div>
  <!-- Google BB! !-->
  <li class="skillsWrapper">
    <div class="icon googlebb"></div>
    <div class="skillsText">
      <h4 id="skillTitle">Google Black Belt</h4>
      <h5>
        <p>Now, this is most likely the most important skill any person can have,
          regardless of their profession/industry.
          Google is powerful and helps searching for the right information from
          thousands of websites on the internet. This skill is extremely important
          in IT as when you're stuck you're never the first one and a bit
          of research can help solve most problems. In case you're the first one
          numerous forums are full of people willing to help you out or share their
          experience with you.
          The best stuff there is, this one.
        </p>
      </h5>
    </div>
    <div class="clear"></div>
  </li>
</ul>
