{% include "personal/_header.html" %}
{% block content %}
{% load staticfiles %}
<div class="mainPage">
<div class="information container">
  <div class="row">
    <div class="col informationBox">
      <div class="informationBorder">
        <div class="absolute">
          <div class="infoHeader">
            <h4>Information</h4>
          </div>
          <div class="infoText">
              <div class="infoLabels">
                <ul>
                  <li>
                    <h5>Name:</h5>
                  </li>
                  <li>
                    <h5>Age:</h5>
                  </li>
                  <li>
                    <h5>Origin:</h5>
                  </li>
                  <li>
                    <h5>Currently:</h5>
                  </li>
                </ul>
              </div>
              <div class="infoDetails">
                <ul>
                  <li><h5>David Bien</h5></li>
                  <li><h5>28</h5></li>
                  <li><h5>Opole, Poland</h5></li>
                  <li><h5>London, UK</h5></li>
                </ul>
              </div>
              <div class="clear">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col personalPic">
      <img src="{% static 'images/profilePic.png' %}" alt="">
    </div>
  </div>
</div>
    <div class="skillsBox">
      <ul class="row">
        <li class="col">
          <a class="activeSkill" href="{% url 'aboutme' %}">
            <div class="skillsIcon">
              <div class="ninja">
              </div>
              <h4>About Me</h4>
            </div>
          </a>
        </li>
        <li class="col">
          <a href="{% url 'myskills' %}">
            <div class="skillsIcon">
              <div class="skills">
              </div>
              <h4>My Skills</h4>
            </div>
          </a>
        </li>
        <li class="col">
          <a href="{% url 'myhobbies' %}">
            <div class="skillsIcon">
              <div class="hobbies">
              </div>
              <h4>My Hobbies</h4>
            </div>
          </a>
        </li>
        <li class="col">
          <a href="#">
            <div class="skillsIcon">
              <div class="projects">
              </div>
              <h4>Projects</h4>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="textDisplay">
      <div class="textBox">
        <h3></h3>
      </div>
    </div>
</div>
{% include "personal/_footer.html" %}
<script type="text/javascript">
  $('.textBox h3').load("{% url 'aboutme' %}");
  $('.row li').on('click', function(e){
    e.preventDefault();
    $('.activeSkill').removeClass('activeSkill');
    $(this).find('a').addClass('activeSkill');
    $('.textBox h3').load($(this).find('a').attr('href'));
  });
</script>
{% endblock %}
